In [17]:
import numpy as np
import pandas as pd
import matplotlib as plt
from datetime import datetime


df = pd.DataFrame({
     "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Hendfry",
              "Bonnell, Miss. Elizabeth"],
     "Age": [22, 35, 58],
     "Sex": ["male", "male", "female"]})
#df
#series1 = df["Age"]
#series1.max(), series1.min()

#test = df.describe()
#test

streams = pd.read_csv(r"C:\Users\yuri7100\Desktop\Python_AI\Trout_Streams.csv")
#print(streams["Displ_Name"])
#print(streams.dtypes)
#print(streams.info)
#print(streams)


#henryFork = streams[(streams["Displ_Name"] == "Henry Fork") & (streams["WRC_CLASS"] == "Hatchery Supported Trout Waters")]
#print(henryFork)

shinnyCreek = streams.loc[streams["Displ_Name"] == "Shinny Creek", "WRC_CLASS"]
#print(shinnyCreek)

shinnyCreekLen = streams.loc[streams["Displ_Name"] == "Shinny Creek", "Shape_Leng"]
print(shinnyCreekLen)

henryFork = streams.loc[(streams["Displ_Name"] == "Henry Fork") & (streams["WRC_CLASS"] == "Hatchery Supported Trout Waters"), "Reg_Descri"]
#print(henryFork)
#print(henryFork.iloc[2:])
#streams2 = streams[streams["Displ_Name"] == "Henry Fork"]
#streams2

#streams.plot.scatter(x = "Shape_Leng", y = "WRC_CLASS")
#print([method_name for method_name in dir(streams.plot)])
#streams.plot.box()
#df.plot()

#Create a new column based upon information from the DataFrame & a feature level Query
streams["Creek_Length"] = streams["Shape_Leng"]<500
#streams.head(25).plot()

streams["Creek_Mileage"] = streams["Shape_Leng"] / 5280
streams.head(5)

#Rename a column from the Data Frame based upon the rename() function
Rename = streams.rename(columns={"WRC_CLASS": "Regulations", "Reg_Descri": "Location"})

#Pass Python functions into the table logic
Rename2 = streams.rename(columns=str.lower)


######################################## Working With Tabular Statistics
#Individual column stats
Stats = streams["Shape_Leng"].mean()
Stats2 = streams["Shape_Leng"].describe()

#Pull specific statistics by field
streams.agg({'Shape_Leng': ['min', 'max', 'median', 'skew'],
             'WRC_CLASS': ['min', 'max', 'median', 'mean']})

#groupby function
streams[["Shape_Leng", "WRC_CLASS"]].groupby("WRC_CLASS").mean()

streams.groupby(["WRC_CLASS", "Displ_Name"])["Shape_Leng"].mean()

#Numeric Counts by Field Type/Column
streams["WRC_CLASS"].value_counts()

#Statistcs summarized by single column
#streams.pivot(columns="WRC_CLASS", values="Shape_Leng").plot()
wide = streams.pivot(columns="WRC_CLASS", values="Shape_Leng").head(5)
print(wide)
streams.pivot_table(values="Shape_Leng", index="WRC_CLASS", aggfunc="mean")

313    5148.673882
339    5278.581060
366     927.324350
388    7350.877178
Name: Shape_Leng, dtype: float64
WRC_CLASS  Catch and Release/Artificial Lures Only Trout Waters  ...  Wild Trout Waters
0                                                        NaN     ...         730.629457
1                                                        NaN     ...         193.250320
2                                                        NaN     ...         707.570016
3                                                        NaN     ...        1063.644589
4                                                        NaN     ...         404.853677

[5 rows x 4 columns]

                                                     Shape_Leng
WRC_CLASS
Catch and Release/Artificial Lures Only Trout W...  2308.583985
Delayed Harvest Trout Waters                        3640.232576
Hatchery Supported Trout Waters                     5538.881977
Wild Trout Waters                                   1117.507274